@import url(http://fonts.googleapis.com/css?family=Jockey+One|Tangerine:400,700|Courgette);

.midwife h2 {
	margin: 5px 0;
}

.tag {
	font-style: italic;
}

.midwife .header {
	min-height: 140px;
}

/* The ghost, nudged to maintain perfect centering */
.midwife .header.no-title:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
 *    also be of any width and height */ 
.header img {
	display: inline-block;
	vertical-align: middle;
}

.tag {
	font-style: italic;
}

.address * {
	float: left;
}

img {
	margin:0 auto;
}

address {
	margin-bottom: 3px;
}

p {
	margin-bottom: 3px;
}

#mamas h2 {
	font-family: 'Courgette', cursive;
}

#tlcbirth h2 {
	font-family: 'Tangerine', cursive;
	font-size: 36px;
}

#coh h2 {
	font-family: 'Jockey One', sans-serif;
	font-size: 20px;
}
