@import url(http://fonts.googleapis.com/css?family=Jockey+One|Tangerine:400,700|Courgette);

.tag {
	font-style: italic;
}

.address * {
	float: left;
}

img {
	margin-bottom: 10px;
}

address {
	margin-bottom: 3px;
}

p {
	margin-bottom: 3px;
}

#mamas h2 {
	font-family: 'Courgette', cursive;
}

#tlcbirth h2 {
	font-family: 'Tangerine', cursive;
	font-size: 36px;
}

#coh h2 {
	font-family: 'Jockey One', sans-serif;
	font-size: 20px;
}
