@import url(http://fonts.googleapis.com/css?family=Jockey+One|Tangerine:400,700|Courgette);

.midwife h2 {
	margin: 5px 0;
}

.midwife .header-wrapper {
	min-height: 120px;
}

/* The ghost, nudged to maintain perfect centering */
.midwife .header-wrapper:before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
	margin-right: -0.25em; /* Adjusts for spacing */
}

/* The element to be centered, can
 *    also be of any width and height */ 
.header {
	display: inline-block;
	vertical-align: middle;
}

.header img {
	margin:0 auto;
}

.midwife .glyphicon, .midwife .content{
	float: left;
	margin-bottom: 3px;
}

.midwife .content {
	padding-left: 8px;
}

.midwife .address .content {
	padding-left: 5px;
}

.midwife .tag .content {
	width: 100%;
	font-style: italic;
	padding-left: 20px;
	position: relative;
	top: -15px;
}

#mamas .header * {
	float: left;
}

#mamas h2 {
	padding: 28px 0 0 5px;
	font-family: 'Courgette', cursive;
}

#tlcbirth h2 {
	padding: 28px 0 0 5px;
	font-family: 'Tangerine', cursive;
	font-size: 36px;
}

#tlcbirth .header * {
	float: left;
}

#coh .header img {
	padding-top: 15px;
}

#coh h2 {
	font-family: 'Jockey One', sans-serif;
	font-size: 20px;
}
